<header>
    <div class="container">
      <h1>Welcome to Might and Magic 7 character creator!</h1>
      <a class="nav-link" href="/MM7">Home</a>
      <% if (currentUser) { %>
        <h2>
         <li class="nav-link">Welcome <%= currentUser.username %>!</li>
        </h2>
        <a class="nav-link" href="/MM7/edit">Edit Character</a>
        <li class="nav-link">
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" />
          </form>
        </li>
        <% } else { %>
        <li><a class="nav-link" href="/users/new">Sign Up</a></li>
        <li><a class="nav-link" href="/sessions/new">Log In</a></li>
        <% } %>
    </div>
    <link rel="stylesheet" href="app.css">
  </header>
