<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <%- include("./partials/header.ejs") %>
    
</head>
<body>
    <a class="nav-link" href="/MM7/new">Create a Character</a>
    <h1>Here show</h1>
</body>
</html>