<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/sessions" method="POST">
        Username: <input required type="text" name="username"/><br>
        Password: <input required type="text" name="password"><br>
        <input type="submit" name="" value="Login"/>
    </form>

    <h2>Sign up if youre not a member! </h2>
    <form action="/users" method="POST">
        Username: <input required type="text" name="username"/><br>
        Password: <input required type="text" name="password"><br>
        <input type="submit" name="" value="Sign Up"/>
    </form>
   
</body>
</html>